*{
	margin: 0;
	padding: 0;
	line-height: none;
}
.container{
	width: 600px;
	height: 400px;
	margin: 160px auto 0;
	overflow: hidden;
	position: relative;
}
.picture{
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	height: 400px;
	width: 2400px;
}
.picture li{
	width: 600px;
	height: 400px;
	float: left;
}
img{
	width: 600px;
	height: 400px;
}
.btn{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	float: left;
	text-align: center;
	line-height: 40px;
	opacity: 0.1;
	cursor: pointer;
}
.container:hover .btn{
	opacity: 0.5;
}
.btn .leftBtn{
	left: -15px;
	background-color: #000;
	color: #fff;
	border-radius: 0 50% 50% 0;
}
.btn .rightBtn{
	left: 560px;
	background-color: #000;
	color: #fff;
	border-radius: 50% 0 0 50%;
}
.dot{
	position: absolute;
	float: left;
	top: 350px;
	left: 250px;
}
span{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 10px;
	opacity: 0.7;
	background-color: #ccc;
}
span.active{
	background-color: #fff;
}